<p>Hey Xavier! Hi Arnaud! Hello Bruno! Welcome to My DeMo DashBoard</p>

<div ng-controller="dashBoardEmployeeCtrl">
	<div  ng-repeat="Location in Locations">
		<p>{{Location.name}}:{{Location.description}}</p>
 	</div>
	<map zoom = "2" >
	<marker  ng-repeat="Location in Locations"
		position="{{Location.latitude}},{{Location.longitude}}"
   ></marker>
  </map>
 </body>
</div>

<div ng-controller="dashBoardSalesFlowCtrl">
	<div ng-repeat="Sale in sales">
		<p>{{Sale.name}}:{{Sale.sales}}  </p>
	</div>
	<map zoom = "2" >
		<marker  ng-repeat="Sale in sales" position="{{Sale.name}}"></marker>
  </map>
 </div>
</div>